/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`

@use './_breakpoints' as *;

// ★★★ 注意! @use ... with 只能覆寫 Vuetify 模組中有 !default 的變數，否則會報錯!
// 自定義變數要另外寫在 _global.scss 裡面
@use 'vuetify/settings' with (
	// 停用預設色彩包
	$color-pack: false,
	$application-background: transparent,
	// $grid-breakpoints 另外用 styles/setBreakpoints.js 生成一個單獨的檔案 _breakpoints.scss，以後僅修改 setBreakpoints.js 的數值即可以連動覆寫；第二個 $grid-breakpoints 是從 _breakpoints.scss 引進的
	$grid-breakpoints: $grid-breakpoints,
	$utilities: (
		'background-color': (
			// 新增 bg 類別，設定背景透明或不設定
			responsive: true,
			print: true,
			property: background-color,
			class: bg,
			values: transparent
		)
	)
);
