/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 50%;
}

/* swiper-slide 下方的圓點 */
.swiper-pagination {
  position: relative;
  margin-top: 30px;
}

/* 圓點的顏色 */
.swiper-pagination-bullet {
  background: rgb(11, 166, 228);
}

/* 選定圓點的顏色 */
.swiper-pagination-bullet-active {}